[mode='dark']{
    --bg-color: #080D11;
    --primary-color: #39A7FF;
    --secondary-color: #0D1D29;
    --text-color: #FFFFFF;
    --border-color: #484646;
    --text-color-secondary: #A3A3A3;
    --solid-hover: #95D1FF;

}