[mode="light"] {
    --bg-color: #FFFFFF;
    --primary-color: #1497FF;
    --secondary-color: #1497FF; 
    --text-color: #000000;
    --border-color: #444444;
    --text-color-secondary: #787878;
    --solid-hover: #95D1FF;

}