[mode='dark']{
    --bg-color: #030303;
    --primary-color: #FFFFFF;
    --secondary-color: #282828;
    --text-color: #EEEEEE;
    --border-color: #444444;
    --text-color-secondary: #989898;
    --solid-hover: #383838;

}