[mode='dark']{
    --bg-color: #030303;
    --primary-color: #01B4FF;
    --secondary-color: #0D1D29;
    --text-color: #EEEEEE;
    --text-solid-color: #FFFFFF;
    --border-color: #444444;
    --text-color-secondary: #989898;
    --solid-hover: #90DEFF;

}