[mode='dark']{
    --bg-color: #030303;
    --primary-color: #FFFFFF;
    --secondary-color: #0C0C0C;
    --text-color: #EEEEEE;
    --border-color: #444444;
    --text-color-secondary: #727272;
    --solid-hover: #95D1FF;

}